data structure

### Tuples

insert(), extend()

In [114]:
first_tuple = ("Monty Python", 30, "Baker Street", 5.8)
print(first_tuple[0])

Monty Python

In [115]:
city_tuple = ("Mumbai", 18.9949521, 72.8141853) 
print(city_tuple)

('Mumbai', 18.9949521, 72.8141853)

In [116]:
new_tuple = city_tuple
print(new_tuple)

('Mumbai', 18.9949521, 72.8141853)

In [117]:
# new_tuple[1] = 13.8877 #Tuple doesn't support item assignment

In [118]:
b = city_tuple[:-1]
print(b)
print(len(b))

('Mumbai', 18.9949521)
2

In [119]:
c = list(b)
print("c is: {0}".format(c))
c= tuple(c)
print("c is now a tuple: {0}".format(c))

c is: ['Mumbai', 18.9949521]
c is now a tuple: ('Mumbai', 18.9949521)

### Lists

append(), pop(), remove()

In [120]:
initial_list = []
print(initial_list)

[]

In [121]:
DA_languages = ['R','Python', 'SAS', 'Scala', 42]
print(DA_languages)

['R', 'Python', 'SAS', 'Scala', 42]

In [122]:
DA_languages[2] = 'HTML'
DA_languages

['R', 'Python', 'HTML', 'Scala', 42]

In [123]:
print(DA_languages[0])

R

In [124]:
print(DA_languages[1:3])

['Python', 'HTML']

In [125]:
print(DA_languages[0:2])

['R', 'Python']

In [126]:
print(DA_languages[-1])

42

In [127]:
print(DA_languages[2:])

['HTML', 'Scala', 42]

In [128]:
print(DA_languages[ : -3])

['R', 'Python']

In [129]:
DA_languages = ['R','Python', 'SAS', 'Scala', 42]
DA_languages.append('Java')
print(DA_languages)

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

In [130]:
DA_languages.pop()

'Java'

In [131]:
DA_languages.pop(0) 
print(DA_languages)

['Python', 'SAS', 'Scala', 42]

In [132]:
DA_languages.pop(1)
print(DA_languages)

['Python', 'Scala', 42]

In [133]:
DA_languages.append('R')
DA_languages.remove('R')
print(DA_languages)

['Python', 'Scala', 42]

In [134]:
print(DA_languages.append('R'))

None

In [135]:
new_list = DA_languages
DA_languages.append('Java')
print(new_list)

['Python', 'Scala', 42, 'R', 'Java']

In [136]:
print(id(DA_languages))

2126241122752

In [137]:
print(id(new_list))

2126241122752

In [138]:
another_list = DA_languages.copy()
print(id(another_list))

2126241486016

In [139]:
a_sentence = "Hi Saif, this is to inform you that I'm not well today."

In [140]:
words_in_sentence = a_sentence.split() 
print(words_in_sentence)

['Hi', 'Saif,', 'this', 'is', 'to', 'inform', 'you', 'that', "I'm", 'not', 'well', 'today.']

In [141]:
a_mail = "Hi Saif, this is to inform you that I'm not well today. I won't be coming to office, but I'm available on call. Thanks."

In [142]:
sentences_in_mail = a_mail.split('.')
print(sentences_in_mail)

["Hi Saif, this is to inform you that I'm not well today", " I won't be coming to office, but I'm available on call", ' Thanks', '']

In [143]:
mail = " ".join(sentences_in_mail)
print(mail)

Hi Saif, this is to inform you that I'm not well today  I won't be coming to office, but I'm available on call  Thanks

In [144]:
mail_new = " & ".join(sentences_in_mail)
print(mail_new)

Hi Saif, this is to inform you that I'm not well today &  I won't be coming to office, but I'm available on call &  Thanks &

In [145]:
my_list = ["Hi"]
print(my_list*5)

['Hi', 'Hi', 'Hi', 'Hi', 'Hi']

In [146]:
print(my_list + my_list)

['Hi', 'Hi']

In [147]:
nums = [2,6,9,3,2,1]
print(len(nums))

6

In [148]:
print(sorted(nums))

[1, 2, 2, 3, 6, 9]

In [149]:
print(max(nums))

9

In [150]:
print(min(nums))

1

In [151]:
nest = [[1, 2, 3, 4], [ 5, 6, 7], [8, 9, 10]]

print(nest[1])

[5, 6, 7]

In [152]:
print(nest[0][1])

2

In [153]:
print(nest[0:2])

[[1, 2, 3, 4], [5, 6, 7]]

### Dictonaries

1. dict.update(new_dict) #like appending new dict
2. del(key)
3. dict[key] = [value]

In [154]:
empty_dictionary = {}
print(type(empty_dictionary))

<class 'dict'>

In [155]:
bio_data = {'Name': 'Bob Marley', 'Age':35, 'Height':"5.6 ft", 'Hobby': 'Music'}
print(bio_data)

{'Name': 'Bob Marley', 'Age': 35, 'Height': '5.6 ft', 'Hobby': 'Music'}

In [156]:
credentials = { 'UserA' : 'wkliopnc' , 'UserB': 98760 , 'UserC' :98760 }

In [157]:
hobby = bio_data['Hobby']
print(hobby)

Music

In [158]:
age = bio_data['Age']
print(age)

35

In [159]:
age = bio_data.get('Age')
print(age)

35

In [160]:
profession  =  bio_data.get('Profession','NA')
print(profession)

NA

In [161]:
bio_data['Age'] = 36
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music'}

In [162]:
bio_data

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music'}

In [163]:
#add a key, val
bio_data['Profession'] = 'Singer'
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music', 'Profession': 'Singer'}

In [164]:
#add a key, val
bio_data['Profession'] = 'Professional Singer'
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music', 'Profession': 'Professional Singer'}

In [165]:
print('Profession' in bio_data)

True

In [166]:
#get list of keys
print(list(bio_data.keys()))

#get list of values
print(list(bio_data.values()))

['Name', 'Age', 'Height', 'Hobby', 'Profession']
['Bob Marley', 36, '5.6 ft', 'Music', 'Professional Singer']

In [167]:
new_dictionary = dict(Country='Jamaica', Songs=['One Love','Misty Morning'])

In [168]:
bio_data.update(new_dictionary)
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music', 'Profession': 'Professional Singer', 'Country': 'Jamaica', 'Songs': ['One Love', 'Misty Morning']}

In [169]:
del bio_data['Hobby']
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Profession': 'Professional Singer', 'Country': 'Jamaica', 'Songs': ['One Love', 'Misty Morning']}

In [170]:
students_data = { 1:['Shivam Bansal', 24] , 2:['Udit Bansal',25], 3:['Sonam Gupta', 26], 4:['Saif Ansari',24], 5:['Huzefa Calcuttawala',27]}
print(students_data)

{1: ['Shivam Bansal', 24], 2: ['Udit Bansal', 25], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27]}

In [171]:
print(len(students_data))

5

In [172]:
#see all the details of students. 
print(list(students_data.values()))

[['Shivam Bansal', 24], ['Udit Bansal', 25], ['Sonam Gupta', 26], ['Saif Ansari', 24], ['Huzefa Calcuttawala', 27]]

In [173]:
students_data[6] = ['Manasi Sharma', 22]
print(students_data)

{1: ['Shivam Bansal', 24], 2: ['Udit Bansal', 25], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27], 6: ['Manasi Sharma', 22]}

In [174]:
del students_data[2]
print(students_data)

{1: ['Shivam Bansal', 24], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27], 6: ['Manasi Sharma', 22]}

In [175]:
print(list(students_data.keys()))

[1, 3, 4, 5, 6]

#### Dictonary example

In [176]:
games = {'Mike':100, 'Link':10, 'Sucre':35, 'Sara': 15}

#By default, python gives keys when not stated particularly
for game in games:
    print(f'1: {game}')

#To get values
for game in games:
    print(f'2: {games[game]}')

#You can mention particularly keys
for key in games.keys():
    print(f'3: {key}')

#You can mention particularly values
for val in games.values():
    print(f'4: {val}')

#Or both
for key, val in games.items():
    print(f'5: {key}, {val}')

#get method
for item in games:
    k = games.get('Sara') #if key exists, value will be printed
print(f'6: {k}')

1: Mike
1: Link
1: Sucre
1: Sara
2: 100
2: 10
2: 35
2: 15
3: Mike
3: Link
3: Sucre
3: Sara
4: 100
4: 10
4: 35
4: 15
5: Mike, 100
5: Link, 10
5: Sucre, 35
5: Sara, 15
6: 15

In [177]:
#count how many elements in the list with dictonary as output
t = [0,1,2,2,3,0,5,7,6,5,2]
hist = {}
for x in t:
    hist[x] = hist.get(x, 0) + 1
print(hist)

{0: 2, 1: 1, 2: 3, 3: 1, 5: 2, 7: 1, 6: 1}

### Sets

In [178]:
students_list = ['A','A','B','C','C','E','N']

In [179]:
students_set = set(students_list)
print(students_set)

{'C', 'A', 'N', 'E', 'B'}

In [180]:
print(type(students_set))

<class 'set'>

In [181]:
students_list_2 = ['A','N','F','N','G','A']

In [182]:
students_set_2 = set(students_list_2)

In [183]:
students_set_2

{'A', 'F', 'G', 'N'}

In [184]:
print(students_set.intersection(students_set_2))

{'N', 'A'}

In [185]:
print(students_set.union(students_set_2))

{'G', 'A', 'C', 'F', 'N', 'E', 'B'}

In [186]:
print(students_set.difference(students_set_2))

{'E', 'C', 'B'}

### If-Else

In [187]:
score = int(input("Enter your test score : "))
passing = 40
distinction = 90

In [188]:
if score >= distinction:
    print("You're at the top! You’ve earned a distinction!")

if score >= passing and score < distinction:
    print("You have passed!")

if score < passing:
    print("Sorry! You have failed")

You have passed!

In [189]:
if score==100:
    print("Perfect")
elif  90<=score<100:
    print("Distinction")
elif 65<=score<90:
    print("First Class")
elif 40<=score<65:
    print("Second Class")
else:
    print("Failed")

Second Class

In [190]:
statement = "The coffee is bad"
if 'bad' in statement:
    print("Bad review!")

statement2 = "This phone works great"
if 'bad' in statement2:
    print("This is not a bad review")

Bad review!

In [191]:
num = int(input("Enter a number: "))
#enter 24
if num%2==0:
    print("Even")
    if num%4==0:
        print("divisible by 4")
    else:
        print("Not divisible by 4")
else:
    print("Odd")
    if num%3==0:
        print("Divisible by 3")
    else:
        print("Not divisible by 3")

Odd
Not divisible by 3

In [192]:
if None:
    print("Is True")
else:
    print("Is False")

Is False

### For and While loops

In [193]:
for i in range(1,5):
    print(i)

1
2
3
4

In [194]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [195]:
#Looping on a string

my_string = "Mary had a little lamb"

for alphabet in my_string:
    print(alphabet)

M
a
r
y

h
a
d

a

l
i
t
t
l
e

l
a
m
b

In [196]:
#pattern to print-
'''
*
* *
* * *
* * * * 
* * * * *
* * * *
* * *
* *
*
'''

'\n*\n* *\n* * *\n* * * * \n* * * * *\n* * * *\n* * *\n* *\n*\n'

In [197]:
str1=''
for i in range(0,9):
    if i<5:
        str1 += '* '
        print(str1)
    elif i>4:
        str1 = str1[:-2]
        print(str1)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [198]:
my_string = "Mary had a little lamb"

for n,alphabet in enumerate(my_string):
    print(alphabet, n)

M 0
a 1
r 2
y 3
  4
h 5
a 6
d 7
  8
a 9
  10
l 11
i 12
t 13
t 14
l 15
e 16
  17
l 18
a 19
m 20
b 21

In [199]:
vowels =''
for alphabet in my_string:
    if alphabet in 'aeiou':
        vowels += ' ' + alphabet
print(vowels)

 a a a i e a

In [200]:
nums = '838848237890237388221'
all_even=''
all_odd = ''
for number in nums:
    if int(number)%2 == 0:
        all_even += number
    else:
        all_odd += number

print('All Evens are : '+ all_even + ' & All odds are : '+ all_odd)

All Evens are : 8884828028822 & All odds are : 33793731

In [201]:
list_of_inventories = ['Apple', 'Banana', 'Potato', 'Mango', 'Onion', 'Toothpaste']
fruits = ['Apple','Banana','Mango','Orange','Strawberry']
vegetables = ['Potato', 'Onion','Cucumber', 'Celery']

In [202]:
#count of fruits in inventory list
count_fruits = 0
#count of vegetables in inventory list
count_veg = 0
for item in list_of_inventories:
    print(item)
    if item in fruits:
        count_fruits+=1
    elif item in vegetables:
        count_veg +=1
    else:
        continue
print(count_fruits)
print(count_veg)

Apple
Banana
Potato
Mango
Onion
Toothpaste
3
2

In [203]:
sentence = "Is Python simpler than R ?"
for word in sentence.split():
    print(word)

Is
Python
simpler
than
R
?

In [204]:
#sentence check
tweet = '#beautiful #morning it is looking good'

for word in tweet.split():
    if word.startswith('#'):
        print(word[1:])

beautiful
morning

In [205]:
students_data = {1:['Shivam Bansal', 24] , 2:['Udit Bansal',25], 3:['Sonam Gupta', 26], 4:['Saif Ansari',24], 5:['Huzefa Calcuttawala',27]}

In [206]:
for key, val in students_data.items():
    print(key, val)

1 ['Shivam Bansal', 24]
2 ['Udit Bansal', 25]
3 ['Sonam Gupta', 26]
4 ['Saif Ansari', 24]
5 ['Huzefa Calcuttawala', 27]

In [207]:
for key in students_data.keys():
    print(key)

1
2
3
4
5

In [208]:
for val in students_data.values():
    print(val)

['Shivam Bansal', 24]
['Udit Bansal', 25]
['Sonam Gupta', 26]
['Saif Ansari', 24]
['Huzefa Calcuttawala', 27]

In [209]:
count = 0
for key, val in students_data.items():
    if val[1]<25:
        count+=1

print(count)

2

In [211]:
#while loop
start =20
total= 0
while start<51:
    total+=start
    start+=1
    print(f'start: {start}')

print(f'total: {total}')

start: 21
start: 22
start: 23
start: 24
start: 25
start: 26
start: 27
start: 28
start: 29
start: 30
start: 31
start: 32
start: 33
start: 34
start: 35
start: 36
start: 37
start: 38
start: 39
start: 40
start: 41
start: 42
start: 43
start: 44
start: 45
start: 46
start: 47
start: 48
start: 49
start: 50
start: 51
total: 1085

#### for loop example

In [212]:
li = [5,3,8,2,4,6,10]

for i in li:
    print(i)
    
for j in range(len(li)):
    print('range is ', j)
    print('number is', li[j])
    
for i in range(len(li)):
    for j in range(len(li)):
        print(i, li[i], j, li[j])
        
for i in range(len(li)):
    for j in range(len(li)):
        print(i, li[i], j, li[j])
        
sum_list = 0
for i in li:
    sum_list = sum_list + i
print(sum_list)

5
3
8
2
4
6
10
range is  0
number is 5
range is  1
number is 3
range is  2
number is 8
range is  3
number is 2
range is  4
number is 4
range is  5
number is 6
range is  6
number is 10
0 5 0 5
0 5 1 3
0 5 2 8
0 5 3 2
0 5 4 4
0 5 5 6
0 5 6 10
1 3 0 5
1 3 1 3
1 3 2 8
1 3 3 2
1 3 4 4
1 3 5 6
1 3 6 10
2 8 0 5
2 8 1 3
2 8 2 8
2 8 3 2
2 8 4 4
2 8 5 6
2 8 6 10
3 2 0 5
3 2 1 3
3 2 2 8
3 2 3 2
3 2 4 4
3 2 5 6
3 2 6 10
4 4 0 5
4 4 1 3
4 4 2 8
4 4 3 2
4 4 4 4
4 4 5 6
4 4 6 10
5 6 0 5
5 6 1 3
5 6 2 8
5 6 3 2
5 6 4 4
5 6 5 6
5 6 6 10
6 10 0 5
6 10 1 3
6 10 2 8
6 10 3 2
6 10 4 4
6 10 5 6
6 10 6 10
0 5 0 5
0 5 1 3
0 5 2 8
0 5 3 2
0 5 4 4
0 5 5 6
0 5 6 10
1 3 0 5
1 3 1 3
1 3 2 8
1 3 3 2
1 3 4 4
1 3 5 6
1 3 6 10
2 8 0 5
2 8 1 3
2 8 2 8
2 8 3 2
2 8 4 4
2 8 5 6
2 8 6 10
3 2 0 5
3 2 1 3
3 2 2 8
3 2 3 2
3 2 4 4
3 2 5 6
3 2 6 10
4 4 0 5
4 4 1 3
4 4 2 8
4 4 3 2
4 4 4 4
4 4 5 6
4 4 6 10
5 6 0 5
5 6 1 3
5 6 2 8
5 6 3 2
5 6 4 4
5 6 5 6
5 6 6 10
6 10 0 5
6 10 1 3
6 10 2 8
6 10 3 2
6 10 4 4
6 10 5 6
6 10 6 10
38

### Comprehensions

In [213]:
squares_list= []

for x in range(1,10):
    squares_list.append(x**2)
print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [214]:
squares_list = [x**2 for x in range(1,10)]
print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [215]:
paragraph = ["There was a fox." , 'It was brown in color.', "It was seen near that farm sometime back"]

In [216]:
# ['There', 'was', 'a', 'fox.', 'It', 'was', 'brown', 'in', 'color.', 'It', 'was', 'seen', 'near', 'that', 'farm', 'sometime', 'back']

In [217]:
single_word_list =[]

for sentence in paragraph:
    for word in sentence.split():
        single_word_list.append(word)

print(single_word_list)

['There', 'was', 'a', 'fox.', 'It', 'was', 'brown', 'in', 'color.', 'It', 'was', 'seen', 'near', 'that', 'farm', 'sometime', 'back']

In [218]:
single_word_list  = [word for sentence in paragraph for word in sentence.split()]
print(single_word_list)

['There', 'was', 'a', 'fox.', 'It', 'was', 'brown', 'in', 'color.', 'It', 'was', 'seen', 'near', 'that', 'farm', 'sometime', 'back']

In [219]:
#list comp with if statement
vowels = ['a','e','i','o','u']
vowels_from_sentence =[]
for sentence in paragraph:
    for word in sentence.split():
        if word[0].lower() in vowels:
            vowels_from_sentence.append(word)

print(vowels_from_sentence)

['a', 'It', 'in', 'It']

In [220]:
#[ for sentence in paragraph]
#[ for sentence in paragraph for word in sentence.split()]

In [221]:
vowels_comp = [word for sentence in paragraph for word in sentence.split() if word[0].lower() in vowels]
print(vowels_comp)

['a', 'It', 'in', 'It']

In [222]:
squared_dictionary = {num : num**2 for num in range(0, 25)}
print(squared_dictionary)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576}

In [223]:
students_data = {1:['Shivam Bansal', 24] , 2:['Udit Bansal',25], 3:['Sonam Gupta', 26], 4:['Saif Ansari',24], 5:['Huzefa Calcuttawala',27]}

In [224]:
names_dict ={}

#iterate over each key, val pair
for roll_num,details in students_data.items():
    if roll_num%2==0:
        names_dict[roll_num]= details[0]
print(names_dict)

{2: 'Udit Bansal', 4: 'Saif Ansari'}

In [225]:
names_comp = {roll_num:details[0] for roll_num,details in students_data.items() if roll_num%2==0} #roll_num:details[0] means name and [1] means age
print(names_comp)

{2: 'Udit Bansal', 4: 'Saif Ansari'}

### Functions

In [226]:
def scream():
    print('Hello World')
scream()

Hello World

In [227]:
def square(num):
    out = num**2
    return(out)

In [228]:
sq_3 = square(3)
print(sq_3)

9

In [229]:
def square(num):
    out = num**2
    print(out)

In [230]:
q = square(4)
print("Q is"+str(q))

16
Q isNone

In [231]:
def factorial(n):
    if n>1:
        return n*factorial(n-1)
    else:
        return n

fact = factorial(5)
print(fact)

120

In [249]:
def factorial(n):
    if n>1:
        return n*(n-1) #without recurssion #i.e; wrong way
    else:
        return n

fact = factorial(5)
print(fact)

20

In [232]:
def addition(*args):
    print(args)
    return(sum(args))

In [233]:
print(addition(4,5,6,7,8,9))
print(addition(1,2))

(4, 5, 6, 7, 8, 9)
39
(1, 2)
3

In [234]:
def proper(some_text):
    some_text = some_text.strip()
    some_text = " ".join([word[0].upper() + word[1:] for word in some_text.split()])
    return some_text

captain = proper("mahendra singh dhoni")
print(captain)

Mahendra Singh Dhoni

In [235]:
string_to_list = lambda x: x.split()
print(string_to_list(captain))
print(type(string_to_list))

['Mahendra', 'Singh', 'Dhoni']
<class 'function'>

In [236]:
product = lambda x, y : x*y
print(product(3,4))

12

### map filter reduce

In [254]:
# first_list = [2, 4, 5]
# print(first_list**2)
#will get error

In [255]:
first_list = [2, 4, 5]

In [256]:
print(map(lambda x: x**2, first_list))

<map object at 0x000001EF0D916560>

In [257]:
first_list = [2,4,5]
print(list(map(lambda x: x**2, first_list)))

[4, 16, 25]

In [258]:
# def squarelist(n):
#     return n**2
# print(squarelist(first_list))
#again an error because of unsupported data types

In [259]:
def squareit(n):
    return n**2
print(list(map(squareit, first_list)))

[4, 16, 25]

In [260]:
sums_list = [3,5,9,7]
sums_list2 = (4,5,6,7)
print(list(map(lambda x,y : x+y, sums_list,sums_list2)))

[7, 10, 15, 14]

In [261]:
list_of_names = ['nikola', 'james', 'albert']
list_of_names2 = ['tesla','watt','einstein']
proper = lambda x, y: x[0].upper()+x[1:] +' '+ y[0].upper()+y[1:]
print(list(map(proper, list_of_names,list_of_names2)))

['Nikola Tesla', 'James Watt', 'Albert Einstein']

In [262]:
#Filter
divby3 = lambda x:  x % 3 == 0
my_list = [3,4,5,6,7,8,9]
div = filter(divby3, my_list)
print(list(div))

[3, 6, 9]

In [263]:
#Reduce
from functools import reduce
q  = reduce(lambda x, y: x+y, range(1,4))
print(q)

6

In [264]:
list_of_nums = [22,45,32,20,87,94,30]
print(reduce(lambda x,y: x if x>y else y,list_of_nums))

94